
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  button {
    cursor: pointer;
  }

.jumbotron {
  border: none;
  border-radius: 25px 0px 25px 0px;
}

   
  body {
    background: #ff8c00;
    padding: 25px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    }


#mycard2 {
  background-color: #c3112c8a;
  font-size: 10px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}